%p#notice= notice
= render :partial => 'map', :locals => { :map => @map }
%p
  About this way
= render :partial => 'shared/way', :collection => @ways, :as => :way 
%b
  It's time to race
= render :partial => 'shared/race', :collection => @cars, :as => :car
