%p
  %b 
    = "Worker car: #{@worker_cars.count}"
- if @worker_cars.count > 0
  =render :partial => "car", :collection => @worker_cars , :as => :car

%p
  %b 
    = "Normal car: #{@normal_cars.count}"
- if @normal_cars.count > 0
  =render :partial => "car", :collection => @normal_cars , :as => :car
